<footer class="site-ft">
    <div class="footer-inner">
        <nav class="nav vr_half">
            <ul>
                <li>
                    <a href="https://github.com/voodooGQ" alt="GitHub" title="GitHub" class="icon icon-github"></a>
                </li>
                <li>
                    <a href="mailto:voodoogq@gmail.com" alt="E-mail Me" title="E-mail Me" class="icon icon-email"></a>
                </li>
            </ul>
        </nav>
        <span class="copyright">{{ copyright|raw }}</span>
    </div>
</footer>
