{#
/**
 * @file
 * Twig Template for the Site Header
 *
 * @author Shane Smith <voodoogq@gmail.com>
 * @since 1.0
 */
#}

<header class="site-hd">
    <div class="logo vr">SYNTAX ALERT</div>
    <nav class="nav">
		<ul>
			<li>
				<a href="/" alt="home" title="home" class="fa fa-newspaper-o"></a>
			</li>
			<li>
				<a href="/about" alt="about" title="about" class="fa fa-question-circle-o"></a>
			</li>
			<li>
				<a href="#" alt="Search" title="Search" class="fa fa-search js-searchFormTrigger"></a>
			</li>
		</ul>
		{% include 'partials/searchForm.twig' %}
    </nav>
</header>
