{#
/**
 * @file
 * Twig Template for the Site Header
 *
 * @author Shane Smith <voodoogq@gmail.com>
 * @since 1.0
 */
#}

<header class="site-header">
    <div class="logo">SYNTAX ALERT</div>
    {% if menu.template == 'primary' %}
        {% include 'menu/primary.twig' %}
    {% endif %}
</header>
